@import "tailwindcss";


@theme {
  --color-principal: #0A74DA;    /* Azul vibrante */
  --color-secundario: #084C8A;   /* Azul oscuro para hover */
  --color-fondo: #0D1117;       /* Negro suave */
  --color-texto-base: #FFFFFF;   /* Blanco puro */
  --color-texto-sec: #A9B1BB;    /* Gris claro */
  --color-acento: #F9A826;      /* Amarillo/Naranja llamativo */
}
@keyframes brillo {
from{
  left: -20%;
}
to{
  left: 400%;
}
}
@layer utilities {
  .animate-brillo { animation: brillo  2s   infinite ; animation-fill-mode: both; }
}
